article.column.c-one-third
	// nav
	style.
		.num-post {
			background: url(vendor/images/faqclose.png) no-repeat 0 0;
			width: 29px;
			height: 29px;
			float: right;
			margin-top: -3px;
			cursor: pointer;
		}
		.num-post.active {
		transform: rotate(90deg);
		border-color: #000;
		}
		.sub-menu {
		visibility: hidden;
		height: 0;
		overflow: hidden;
		transition: all 0.5s;
		}
		.sub-menu.active {
		visibility: visible;
		height: auto;
		overflow: auto;
		transition: all 0.5s;
		}
	script.
		document.addEventListener("DOMContentLoaded", function() {
		var items = document.body.querySelectorAll(".num-post");
		[].forEach.call(items, function(item) {
		item.addEventListener("click", function() {
		this.classList.toggle("active");
		this.closest("li").querySelector(".sub-menu").classList.toggle("active");
		})
		})
		}, false)
	.right-sidebar
		.sidebar-h
			strong.right-heading
				span(style="font-family: RusDecor;") Меню
		ul.archives
			li
				span
					a(href='#') Пункт 1
					span.num-post
				ul.sub-menu
					li
						a(href='#') Подпункт
					li
						a(href='#') Подпункт
					li
						a(href='#') Подпункт
			li
				a(href='#') Пункт 2
			li
				a(href='#') Пункт 3
			li
				a(href='#') Пункт 4
			li
				a(href='#') Пункт 5
	.calender
		a(href="calendar.html").readmorebtn.large Православный календарь
	// nav end