// top line
.head-banner
	header#header
		.header-wrapper
			.header-holder
				.header-holder-left
					a(href="index.html").logo-link
						img(src="vendor/images/mainLogo.jpg" alt="").logo-img
					p.promo-text Святителю Николае, угодниче Божий, моли Бога о нас!»
				.header-holder-right
					h1.site-name СВЯТО-НИКОЛЬСКИЙ  ЖЕНСКИЙ  МОНАСТЫРЬ
					p.location в селе Санино <br> Суздальского района Владимирской области
// top line end