// top line
.head-banner
	header#header
		.header-wrapper
			.header-holder
				style.
					#logo {
					width: 80%;
					background-image: url('vendor/images/mainLogo.jpg');
					background-size: 80px;
					}
					#logo a {
					color: #fff;
					font-size: 30px;
					line-height: 23px;
					display: inline-block;
					height: auto;
					}
					#logo a:hover {
					text-decoration: none;
					}
				h1#logo
					a(href='../index.html')
						| <span style="font-family: RusDecor; display: inline-block; padding-bottom: 8px;">СВЯТО-НИКОЛЬСКАЯ ЖЕНСКАЯ ОБИТЕЛЬ</span>
						br
						|  <span style="font-family: RusDecor; display: block; text-align: right;"><span>в селе Санино</span></span><span style="font-size: 15px; font-style: italic;">«Святителю Николае, угодниче Божий, моли Бога о нас!»</span>
// top line end