footer.footer
	.footer-holder
		.footer-frame
			.bottom
				.holder
					section.grid-holder
						section.grid
							article.column.c-three-fourth
								.box
									p 601293, Владимирская обл.,  Суздальский р-н,
									p с. Санино, Свято-Никольский женский монастырь 
									a(href="mailto:info@saninomonastyr.ru") info@saninomonastyr.ru
							article.column.c-one-third(style="float: right;")
								.box
									p Все права на материалы, опубликованные на этом сайте, принадлежат  Свято-Никольскому женскому монастырю &copy; 2017 г. 
						section.footer-bottom-info
							.left
								p Live Internet
							.center
								p Создание и поддержка сайта <a href="#">ПАВЕЛ САВАРИН</a>
							.right
								div.social
									a(href="#").social-item
										img(src="img/ico-1.png" alt="ico")
									a(href="#").social-item
										img(src="img/ico-2.png" alt="ico")
									a(href="#").social-item
										img(src="img/ico-3.png" alt="ico")
									a(href="#").social-item
										img(src="img/ico-4.png" alt="ico")
									a(href="http://www.vosocial.com/").social-item
										img(src="img/ico-5.png" alt="ico")
									a(href="https://elitsy.ru/").social-item
										img(src="img/ico-6.png" alt="ico")
									a(href="http://www.clir.ru/").social-item
										img(src="img/ico-7.png" alt="ico")
script(src='vendor/js/jquery-1.11.3.min.js')
script(src='vendor/js/jquery-1.js')
script(src='vendor/js/jquery-u.js')
script(src='vendor/js/jquery.bxslider.min.js')
script(src='vendor/js/sourtin-jquery.js')
script(src='vendor/js/jqueryi-icon-menu.js')
script(src='vendor/js/tytabs.js')
script(src='vendor/js/browser-detect.js')
script(type='text/javascript', src='vendor/js/speakker-big-1.2.02r134.min.js')
script(src='vendor/js/jquery.timelinr-0.9.52.js')
script(src='vendor/js/custom.js')
script(src='vendor/js/jquery.countdown.js')