footer.footer
	.footer-holder
		.footer-frame
			.bottom
				.holder
					section.grid-holder
						section.grid
							article.column.c-three-fourth
								.box
									p 601293, Владимирская обл., Суздальский р-н, с. Санино
									p
									p e-mail: info@ДОМЕН
									p СВЯТО-НИКОЛЬСКАЯ ЖЕНСКАЯ ОБИТЕЛЬ в с. Санино – Копирайт ВСЕ ПРАВА ЗАЩИЩЕНЫ
							article.column.c-one-third
								.box
									p
										| Все права и материалы, опубликованные на этом сайте, принадлежат СВЯТО-НИКОЛЬСКОЙ ЖЕНСКОЙ ОБИТЕЛИ в с. Санино. Копирайт 2016
								div.social
									a(href="#").social-item
										img(src="img/ico-1.png" alt="ico")
									a(href="#").social-item
										img(src="img/ico-2.png" alt="ico")
									a(href="#").social-item
										img(src="img/ico-3.png" alt="ico")
									a(href="#").social-item
										img(src="img/ico-4.png" alt="ico")
									a(href="http://www.vosocial.com/").social-item
										img(src="img/ico-5.png" alt="ico")
									a(href="https://elitsy.ru/").social-item
										img(src="img/ico-6.png" alt="ico")
									a(href="http://www.clir.ru/").social-item
										img(src="img/ico-7.png" alt="ico")
script(src='vendor/js/jquery-1.11.3.min.js')
script(src='vendor/js/jquery-1.js')
script(src='vendor/js/jquery-u.js')
script(src='vendor/js/jquery.bxslider.min.js')
script(src='vendor/../../maps.google.com/maps/api/js@sensor=false')
script(src='vendor/js/sourtin-jquery.js')
script(src='vendor/js/jqueryi-icon-menu.js')
script(src='vendor/js/tytabs.js')
script(src='vendor/js/browser-detect.js')
script(type='text/javascript', src='vendor/js/speakker-big-1.2.02r134.min.js')
script(src='vendor/js/jquery.timelinr-0.9.52.js')
script(src='vendor/js/custom.js')
script(src='vendor/js/jquery.countdown.js')