// Header
doctype html
//if IE 7 
	html.ie.ie7(lang='en')  
//if IE 8 
	html.ie.ie8(lang='en')  
// [if (gte IE 9)|!(IE)] <!
html(lang='en')
	// <![endif]
	head
		meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
		link(rel='stylesheet', href='vendor/css/calendar.css', media='screen')
		meta(charset='utf-8')
		title The Church
		meta(name='description', content='')
		meta(name='author', content='')
		link(rel='icon', type='image/png', href='vendor/images/favicon.png')
		meta(name='description', content='')
		meta(name='author', content='')
		link(rel='icon', type='image/png', href='vendor/images/favicon.png')
		meta(name='description', content='')
		meta(name='author', content='')
		link(rel='icon', type='image/png', href='vendor/images/favicon.png')
		link(rel='stylesheet', href='vendor/css/all.css', type='text/css', media='all')
		link(rel='stylesheet', href='vendor/css/jquery.bxslider.css', type='text/css', media='all')
		link(rel='stylesheet', href='vendor/css/shortcode.css', type='text/css', media='all')
		link(rel='stylesheet', href='vendor/css/javascri.css', type='text/css', media='all')
		link(rel='stylesheet', href='vendor/css/prettyPhoto.css', type='text/css', media='all')
		link#stylesheet(rel='stylesheet', href='vendor/css/default.css')
		link(rel='stylesheet', href='vendor/css/megamenu.css', type='text/css', media='screen')
		link(rel='stylesheet', href='css/typography.css', type='text/css', media='screen')
		link(rel='stylesheet', href='css/style.css', type='text/css', media='screen')
		//if lt IE 9
			script(src='../js/html5.js')
// Header End
block content