// slider
.banner
	#banner-slider.bxslider
		.item
			img(src='vendor/images/img-1.jpg', alt='image')
			.banner-caption
				ul
					li
						a.inner-text(href='#') 1 Sed ut peris unde omni
						span
					li
						a.inner-text.inner-text2(href='#') Invore veritatis et quasi itecto
						span
		.item
			img(src='vendor/images/banner-img-2.jpg', alt='image')
			.banner-caption
				ul
					li
						a.inner-text(href='#') 1 Sed ut peris unde omni
						span
					li
						a.inner-text.inner-text2(href='#') Invore veritatis et quasi itecto
						span
		.item
			img(src='vendor/images/banner-img-3.jpg', alt='image')
			.banner-caption
				ul
					li
						a.inner-text(href='#') 1 Sed ut peris unde omni
						span
					li
						a.inner-text.inner-text2(href='#') Invore veritatis et quasi itecto
						span
// slider end