style.
	.tmp-nav {
	position: fixed;
	top: 200px;
	left: 0;
	padding: 5px 10px;
	background: #b2b2b2;
	z-index: 9999;
	}
ul.tmp-nav
	li
		a(href='index.html') Главная
	li
		a(href='default.html') Стандартный шаблон
	li
		a(href='gallery.html') Шаблон галереи
	li
		a(href='video-gallery.html') Шаблон видеогалерии
	li
		a(href='reviews.html') Шаблон отзывов
	li
		a(href='contacts.html') Шаблон контакты
	li
		a(href='blog.html') Шаблон блог