doctype html
html(lang="en")
	head
		title Title
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet" href="css/style.css")
		link(type="image/x-icon" href="favicon.ico" rel="shortcut icon")
	body
		include jade-includes/_conditional-comments.jade
		include jade-includes/_modal.jade
		div.contact-form
			p.contact-form__title Напишите нам
			p.contact-form__sub-title если у вас есть вопросы, замечания и предложения
			form(action="/contactSubmit" method="POST").form
				textarea(rows="4" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, praesentium velit ratione provident, dolor consequatur eveniet facilis quos cumque modi.").form__input.form__input--big
				div.form__body
					div.form__row
						div.col-2.col-xs-3.col-xxs-12
							label(for="contactFormName").form__label Имя
						div.col-10.col-xs-9.col-xxs-12
							input(type="text" placeholder="Сергей Фролов")#contactFormName.form__input
					div.form__row
						div.col-2.col-xs-3.col-xxs-12
							label(for="contactFormEmail").form__label Почта
						div.col-10.col-xs-9.col-xxs-12
							input(type="email" placeholder="sergey.frolov@mail.com")#contactFormEmail.form__input
				div.form__body
					button(type="submit").btn.btn--red Отправить



		include jade-includes/_header.jade
		include jade-includes/_content.jade
		include jade-includes/_footer.jade