extends jade-includes/_header.jade
block content
	body
		include jade-includes/_tmp-nav.jade
		.wrapper
			.main
				include jade-includes/_body-header.jade
				.content
					section.grid-holder
						section.grid
							.heading-holder
								h3.content-heading
									span
										em.h-left
										span.inner-heading Название страницы
										em.h-right
							include jade-includes/_aside.jade
							article.column.c-three-fourth
								.blog-post
									script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
									div
										#gmap_canvas
										div
											small
												a(href='http://embedgooglemaps.com') embedgooglemaps.com
										div
											small
												a(href='http://buyproxies.io/') scrapebox proxies
										style.
											#gmap_canvas {
											height: 480px;
											width: 100%;
											}
											#gmap_canvas img {
											max-width: none!important;
											background: none!important
											}
									script(type='text/javascript').
										function init_map() {
										var myOptions = {
										zoom: 11,
										center: new google.maps.LatLng(56.3712759, 40.688274099999944),
										mapTypeId: google.maps.MapTypeId.ROADMAP
										};
										map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
										marker = new google.maps.Marker({
										map: map,
										position: new google.maps.LatLng(56.3712759, 40.688274099999944)
										});
										infowindow = new google.maps.InfoWindow({
										content: '<strong>СВЯТО-НИКОЛЬСКАЯ ЖЕНСКАЯ ОБИТЕЛЬ</strong><br>Владимирская обл., Суздальский р-н, с. Санино<br>'
										});
										google.maps.event.addListener(marker, 'click', function() {
										infowindow.open(map, marker);
										});
										infowindow.open(map, marker);
										}
										google.maps.event.addDomListener(window, 'load', init_map);
									br.clear
									.blog-holder
										.left
											strong.name Здесь какая-то информация о монастыре
											.contact-box
												p
													| In dignissim tincidunt est sed vea. Mauris vitae faucibus leo. Donec facilisisus justo in ierdum. Aliquam ac augue turpis, sit a fermentum orci. Donec sed sem eget mi laoreet ornare q ve lacus.Endisse lobortis purus a purus luctus vulpte. Nunc lacus nunc, sollicitudin at placerat a, dictum eg purus. Duis at est in enim cursus volutpat vitae vitae neque.
										.right
											strong.name Контакты
											.contact-us
												p 601293, Владимирская обл., Суздальский р-н, с. Санино
												ul.list
													li Телефон: 1.800.000.6000
													li
														| Email: 
														a(href='mailto:lorem@ipsum.com') lorem@ipsum.com
									div(style='clear: both;')
									.blog-holder.contact
										br
										strong.name Связаться с нами
										br
										.contact-flied
											form(name='contactform', method='post', action='contact.php')
												fieldset
													.row
														input(type='text', required='', pattern='[a-zA-Z ]+', name='name', value='Ваше имя*')
														input(required='', pattern='^[a-zA-Z0-9-\_.]+@[a-zA-Z0-9-\_.]+\.[a-zA-Z0-9.]{2,5}$', name='email', type='text', value='Ваш eMAIL')
													textarea(name='comments', rows='42', cols='42') Ваш комментарий
													input.submit(type='submit', value='Отправить')
			include jade-includes/_footer.jade