extends jade-includes/_header.jade
block content
	body
		include jade-includes/_tmp-nav.jade
		.wrapper
			.main
				include jade-includes/_body-header.jade
				include jade-includes/_slider.jade
				.content
					section.grid-holder
						section.grid
							.heading-holder
								h3.content-heading
									span
										em.h-left
										span.inner-heading Название страницы
										em.h-right
							include jade-includes/_aside.jade
							article.column.c-three-fourth
								p Тут контент
			include jade-includes/_footer.jade
