extends jade-includes/_header.jade
block content
	body
		include jade-includes/_tmp-nav.jade
		.wrapper
			.main
				include jade-includes/_body-header.jade
				.content
					section.grid-holder
						section.grid
							.heading-holder
								h3.content-heading
									span
										em.h-left
										span.inner-heading Название страницы
										em.h-right
							include jade-includes/_aside.jade
							article.column.c-three-fourth
								// comments from book
								section.grid-holder
									section#catagory-item-holder.grid.lightbox.gallery.masonry(style='position: relative; height: 852px;')
										- for(var i = 0; i < 5; i++)
												figure.column.c-one-fourth.gallery-col.Landscape.catagory-item.masonry-brick(style='position: absolute; top: 0px; left: 0px;')
													.item.alpha.gallery-item
														.caption.gallery-box
															a(href='vendor/images/gallery-img-1.jpg', rel='prettyPhoto[gallery1]')
																img.pic(src='vendor/images/gallery-img-1.jpg', alt='')
																span.hover-effect.big.zoom
														strong.gallery-titel
															a(href='vendor/gallery-singlepost.html') Заголовок отзыва
														p Описание отклика
								// comments from book end
								// coments
								.blog-holder
									h4.post-title
										a(href='#') 2 отзыва
										span.add-comment
											a(href='#') Добавить комментарий
									.tags.none
										ul.post-comments
											li
												.holder-news
													.comment-box
														.event-comment.post-box
															img.team-img(src='vendor/images/ch-26.jpg', alt='image')
															p
																| Suspendisse sollicitudin commodo venenatis. Donec faucibus rutrum felis, vel suscipit quam ornare sollicitudin. Duis massa ipsum, tempus a rhoncus sit amet, semper sed tortor. Vivamus mollis, justo eget vehicula fermentum, juequat nulla tellus in elit. Suspendisse sollicitudin
														span.post-c
													.written
														span.post-heading
															| Written by 
															em Micheal
															em.com-date December 6th, 2012 at 7:13 pm
												ul
													li
														.holder-news
															.comment-box-1
																.event-comment.post-box
																	img.team-img(src='vendor/images/ch-25.jpg', alt='image')
																	p
																		| Suspendisse sollicitudin commodo venenatis. Donec faucibus rutrum felis, vel suscipit quam ornare sollicitudin. Duis massa ipsum, tempus a rhoncus sit amet, semper sed tortor
																span.post-c
															.written
																span.post-heading
																	| Written by 
																	em Dominic
																	em.com-date December 6th, 2012 at 7:13 pm
								// comments end
								// leave comment
								.blog-holder
									h4.post-title
										a(href='#')
											| Добавить комментарий 
											br
										span.required.star Обязательные поля отмечены звездочкой
									form(action='contact-form.php')
										fieldset
											.row-form
												input#name(type='text', required='', pattern='[a-zA-Z ]+', name='name', value='')
												label.star(for='name') Имя
											.row-form
												input#Mail(required='', pattern='^[a-zA-Z0-9-\_.]+@[a-zA-Z0-9-\_.]+\.[a-zA-Z0-9.]{2,5}$', name='', type='text', value='')
												label.star(for='Mail') E-mail
											.row-form
												textarea(rows='42', cols='42')
											input.send(name='', type='submit', value='Оставить отзыв')
								// leave comment end
			include jade-includes/_footer.jade