@include border-box-sizing

body, html
	min-width: $container-min-width
	font: 300 $base-font-size $base-font
	@include breakpoint($md)
		font-size: $base-font-size - 1px !important
	@include breakpoint($sm)
		font-size: $base-font-size - 2px !important

body
	overflow-x: hidden
	&.over-hide
		overflow: hidden !important

//*-----
	If you need grid classes
	just uncomment string below
//----*/
//@include grid

//*-----
	If you need modal window
	just uncomment string below
//----*/
//@include modal

img
	max-width: 100%

.hide
	display: none

.show
	display: block

.text-left
	text-align: left

.text-right
	text-align: right

.text-center
	text-align: center